.container-program {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:#ddd;
  }
  
  .program-table {
    width: 80%; 
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #090808;
  }
  
